Package: uae4all
Version: 
Description: RetroGame port of UAE4ALL
Section: emus
Priority: optional
Maintainer: pingflood
Architecture: mipsel
Homepage: https://bitbucket.com/retrofw/uae4all
Depends:
Source: https://bitbucket.com/retrofw/uae4all
