[Desktop Entry]
Name=uae4all ux
Comment=Amiga 500 emulator
Exec=uae4all.dge
Terminal=false
Type=Application
StartupNotify=true
Icon=uae4all
Categories=emulators;
X-OD-Manual=readme.man.txt
